.introPage {
  font-size: 3em;
  color: var(--color-dark);
  padding: 10% 5% 0;
  width: 90%;
  margin: 0 auto;
}

.paragraph {
  padding: 10px 0;
}

.control {
  height: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 0;
}