@import "../../../styles/breakpoints.module";

.propertiesPage {
  padding: 5% 0;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 0 20px;

  @media only screen and (max-width: $breakpoint-large) {
    justify-content: center;
    padding: 20px 0 0;
  }
}

.customInput {
  font-size: 2em !important;
  color: var(--color-dark) !important;
  font-family: 'IndieFlower', sans-serif !important;
  > input {
    padding: 0;
  }

  @media only screen and (max-width: $breakpoint-large) {
    font-size: 1.5em !important;
    justify-content: center;
  }
}

.propertyList {
  padding: 40px 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  @media only screen and (max-width: $breakpoint-large) {
    justify-content: center;
  }
}

.fieldIcon {
  width: 1em !important;
  height: 1em !important;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    transform: scale(1.1);
  }
}

.addIcon {
  width: 2em !important;
  height: 2em !important;
  fill: var(--color-light) !important;
  cursor: pointer;
}

.button {
  padding: 12px 20px;
  border-radius: 10px;
}

.control {
  height: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  > p {
    color: var(--color-dark)
  }
}